.card{
    width: 440px;
    min-height: 481px;
    box-sizing: border-box;
    border: 1px solid rgba(227, 219, 229, 1);
    border-radius: 20px;
    padding: 16px 24px;
}
.creator_info{
    display: flex;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar{
    width: 37px;
    height: 37px;
    background: rgba(196, 198, 244, 1);
    border-radius: 45px;
}

.user_name{
    margin-left: 11px;
    color: rgba(80, 79, 79, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.categories_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.category_info{
    display: flex;
    margin-right: 11px;
    flex-direction: row;
    align-items: center;
}

.category{
    color: rgba(80, 79, 79, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    
}

.title{
    color: rgba(31, 31, 31, 1);
    font-family: Inter;
    font-size: 22.2px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}
.date_info{
    margin-top: 10px;
    color: rgba(80, 79, 79, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}
.location_info{
    color: rgba(80, 79, 79, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.image_event{
    width: 390px;
    height: 256px;
    background-size: cover;
    background-color: rgba(196, 198, 244, 1);
    border-radius: 20px;
    background-position: center;
}

.addition_info{
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    align-items: center;
    justify-content: space-between;
    color: rgba(80, 79, 79, 1);
    font-family: Inter;
    font-size: 13px;
    font-weight: 500;
    line-height: 16.8px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.rating_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.star{
    width: 22px;
    height: 22px;
    background-image: url(/images/star.png);
    margin-right: 4px;
}

.capacity_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.people{
    width: 20px;
    height: 20px;
    background: rgba(196, 198, 244, 1);
    margin-right: 4px;
}

.price_block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 910px){
    .card{
        width: 320px;
        min-height: 481px;
        box-sizing: border-box;
        border: 1px solid rgba(227, 219, 229, 1);
        border-radius: 20px;
        padding: 14px 15px;
    }

    .user_name{
        margin-left: 11px;
        color: rgba(80, 79, 79, 1);
        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }

    .category{
        color: rgba(80, 79, 79, 1);
        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }

    .title{
        color: rgba(31, 31, 31, 1);
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }
    .date_info{
        margin-top: 10px;
        color: rgba(80, 79, 79, 1);

        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }
    .location_info{
        color: rgba(80, 79, 79, 1);
        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }
    .image_event{
        width: 290px;
        height: 256px;
        background-size: cover;
        background-color: rgba(196, 198, 244, 1);
        border-radius: 15px;
    }

    .addition_info{
        display: flex;
        flex-direction: row;
        margin-top: 14px;
        align-items: center;
        justify-content: space-between;
        color: rgba(80, 79, 79, 1);

        font-family: Inter;
        font-size: 13px;
        font-weight: 500;
        line-height: 16.8px;
        letter-spacing: 0px;
        text-align: left;
        text-transform: uppercase;
    }

}