.footer{
    margin: auto;
    margin-bottom: 25px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.footer_info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 48px);
    justify-items: anchor-center;
    align-items: center;
    justify-content: space-around;
    column-gap: 210px;
}
.link_names{

    max-width: 180px;
    color: rgba(125, 97, 138, 1);

    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.contact_icons{
    grid-row: 2;
    grid-column: 2;

    display: flex;
    flex-direction: row;
}
.vk{

}
.telegram{

} 
.whatsapp{

}
.copyright{
    grid-row: 3;
    grid-column: 2;

    color: rgba(125, 97, 138, 1);

    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
    