.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 960px;
}
.nav_container{
    padding: 16px;
    gap: 8 8;
    display: flex;
    flex-direction: row;
    color: rgba(128, 97, 138, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.title_nav{
    color: rgba(23, 18, 23, 1);
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 16px 12px 16px;

    color: rgba(23, 18, 23, 1);
    font-family: Manrope;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
}

.image{
    width: 100%;
    height: 651px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 16px;
    background: rgba(255, 255, 255, 1);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

