.event_page{
    padding: 16px;
    align-items: center;
}


/* .card_list{
    display: grid;
    grid-template-columns: repeat(3, 440px);
    column-gap: 20px;
    row-gap: 25px;
   justify-content: center;
} */

.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 16px auto;
    background-image: url('https://content.r9cdn.net/rimg/dimg/b0/1c/7746c81c-city-14713-163f5192361.jpg?width=1366&height=768&xhint=1535&yhint=594&crop=true');
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    height: 180px;
    
}

.image h1{
    color: rgba(255, 255, 255, 1);
    margin: auto;
    font-family: Inter;
    font-size: 140.8px;
    font-weight: 600;
    line-height: 129px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

@media screen and (max-width: 1390px){
    /* .card_list{
        display: grid;
        grid-template-columns: repeat(2, auto);
    } */
    .image{
        height: 166px;      
    }
    .image h1{
        font-size: 66px;
    }
}
@media screen and (max-width: 675px){
    /* .card_list{
        display: grid;
        grid-template-columns: repeat(1, 320px);
    } */
    .image{
        height: 94px;     
    }
    .image h1{
        font-size: 30.8px;
    }
}