.friends_page{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page_title{
    color: rgba(23, 18, 23, 1);
    font-family: Manrope;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
}
@media (max-width: 768px) {

    .page_title{
        display: none;
    }
}

