.content{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.about{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(2, auto);
    column-gap: 54px;
}

.main_info{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    column-gap: 16px;
    align-items: center;
}
.avatar{
    width: 128px;
    height: 128px;
    border-radius: 64px;
    background-color: beige;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.nickname{

    color: rgba(23, 18, 23, 1);
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
}
.location{
    color: rgba(138, 97, 138, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}
.followers{

    color: rgba(138, 97, 138, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}
.act_btns{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0 30px 0 149px;
}
.about_info{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 20px;

    color: rgba(23, 18, 23, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}