.purple_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;

    width: 100%;
    height: 48px;

    border-radius: 12px;
    background: rgba(163, 18, 237, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.gray_btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;

    width: 100%;
    height: 48px;

    border-radius: 12px;
    background: rgba(245, 240, 245, 1);
    color: rgba(23, 18, 23, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.gray_btn:hover{
    background: rgb(158, 154, 158);
    color: rgba(23, 18, 23, 1);
}
.purple_btn:hover{
    background: rgb(67, 8, 97);
    color: rgba(255, 255, 255, 1);
}