.box{
    width: 301px;
    /* height: 149px; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 16px;

    box-sizing: border-box;
    border: 1px solid rgba(227, 219, 230, 1);
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
}

.icon{
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
}

.name{
    color: rgba(23, 18, 23, 1);
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
}

.description{
    color: rgba(125, 97, 138, 1);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
}

@media screen and (max-width: 930px){
    .box{
        width: 250px;
        /* height: 149px; */
        /* Автолейаут */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 12;
        padding: 16px;
    }
    .name{
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }
    .description{
        font-size: 10px;
        font-weight: 400;
        line-height: 21px;
    }
}
@media screen and (max-width: 810px){
    .box{
        width: 301px;
    
    }
    .name{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
    .description{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
}